<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      Home
    </li>
  </ol>
</nav>

<h1>
  Invoices
</h1>

<ul>
  {{#each @model as |invoice|}}
    <li>
      <LinkTo @route="invoice" @model={{invoice.id}}>
        Invoice {{invoice.id}} - {{format-number invoice.total style="currency" currency="USD"}}
      </LinkTo>
    </li>
  {{/each}}
</ul>
